{% extends "site/master.html" %} {% block content %}

<h2>Create</h2>

{{ messages['message']['message']|message( messages['message']['alert'])|raw }}


<form action="/user/store" method="post">
    <input type="hidden" name="{{ csrf.nameKey }}"  value="{{ csrf.name }}">
    <input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
    
    <input type="text" name="firstName" class="form-control" value="Dalwid"><br>
    {{ messages['firstName']['message']|message(messages['firstName']['alert'])|raw }}

    <input type="text" name="lastName"  class="form-control" value="Peretz"><br>
    {{ messages['lastName']['message']|message( messages['lastName']['alert'])|raw}}

    <input type="text" name="email"     class="form-control" value="peretz@email.com.br"><br>
    {{ messages['email']['message']|message( messages['email']['alert'])|raw }}
    
    <input type="password" name="password"     class="form-control" value="123"><br>
    {{ messages['password']['message']|message( messages['password']['alert'])|raw}}
       
    <button type="submit">Cadastrar</button>
</form>

{% endblock %}